*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Proza Libre', sans-serif;
}

$body-height: 900px;

body{
	background-image: url("http://www.hdiphone6wallpapers.net/iphone-6-backgrounds/iphone-6-wallpapers-2/iphone-6-wallpapers-hd-1256pruml-1080x1920.jpg");
	background-size: 100% 100%;
	background-position: 0px 100px; 
	height: 2190px;
}

audio{
	width: 380px;
}

$pc-width: 1265px;
$pc-height: 100px;
$search-height: 50px;

.banner-container{
	position: fixed;
	z-index:1;
	min-width: $pc-width;
}

.player-container{
	width: 100%;
	min-height: $pc-height;
	overflow: hidden;
	position: relative;
	padding: 0px;
	margin: 0px;
	background: black;
	color: white;

	$cs-height: $pc-height - 20px;
	$margin: ($pc-height - $cs-height ) * 4;
	.current-song-img{
		display: inline-block;
		margin-top: ($pc-height - $cs-height ) / 2;
		margin-left: $margin;
		height: $cs-height;
		width: $cs-height;
		border: 2px solid white;
		box-shadow: 0 0 2em white;
	}

		.current-song-info{
			margin-top: ($pc-height - $cs-height ) / 2;
			border-radius: 5px;
			display: inline-block;
			margin-right: 80px;
			width: 450px;
			height: $cs-height;
			margin-top: 10px;
			vertical-align: top;
			overflow-y: auto;
			position: relative;
			margin-left: $margin;
			color: white;

				.current-song-title{
					padding: 0px 5px ;
					font-size: 14pt;
					white-space: nowrap;
			  		overflow: hidden;
			  		text-overflow: ellipsis;
			  		text-align: center;
			  		height: 24px;
				}

				.current-song-description{
					font-size: 8pt;
					display: block;
					position: absolute;
					left: 5px;
					top: 30px;

				}

		}

		.player{
			margin-top: ($pc-height - $cs-height ) / 2 + ($cs-height - 40px) / 2;
			width: 400px;
			border-radius:5px;
			background: white;
			height:40px;
			padding: 4px;
			display: inline-block;
			margin-right: $margin;
			vertical-align: top;
		}
	// }
}


.search-container{
	min-height: $search-height;
	width: 100%;
	overflow: hidden;
	background: #11204D;
	padding-top: 10px;

	.search-bar{
		display: inline-block;
		height: 30px;
		padding-left: 50px;
		padding-right: 80px;
		margin: 0px;
		border-right: 2px solid #779EC8;
		vertical-align: top;

		.search-request{
			height: 100%;
			width: 300px;
			border-radius: 5px;
			background: white;
			color: black;
			margin: 0px;
			border: none;
			padding: 5px;
		}
		.search-button{
			height: 100%;
			width: 80px;
			background: black;
			color: white;
			margin: 0px;
			padding: 0px;
			margin-left: 5px;
			border: none;
			border-radius: 5px;
		}

		.search-button:focus{
			outline: none;
		}
	}

	.sort-radio{
		padding: 0px;
		margin-right: 10px;
		margin-left: 20px;
	}

	.asc-radio{
		padding: 0px;
		margin-right: 10px;
		margin-left: 20px;
	}

	.radio-set-1{
		padding-top: 5px;
		height: 30px;
		display: inline-block;
		padding-left: 40px;
		margin: 0px;
		color: white;
		text-shadow: black 0px 0px 10px;
		padding-right: 60px;
		border-right: 2px solid #779EC8;
		vertical-align: top;
	}
	.radio-set-2{
		padding-top: 5px;
		height: 30px;
		display: inline-block;
		padding-left: 40px;
		margin: 0px;
		color: white;
		text-shadow: black 0px 0px 10px;
		padding-right: 60px;
		vertical-align: top;
	}
}

.box-container{
	width: 100%;
	position: absolute;
	top: $pc-height + $search-height;
	overflow: hidden;
	padding: 20px 0px;


$box-margin: 30px;
$box-per-row: 5;
$box-width: ($pc-width / $box-per-row) - ($box-margin * 2) - 5;

	.box{
		display: inline-block;
		vertical-align: top;
		width: $box-width;
		height: $box-width + 50px;
		overflow:hidden;
		background: white;
		border: 2px solid lightgrey;
		border-radius: 10px;
		margin: $box-margin;
		transition: all .2s ease-in;
		box-shadow: none;
		opacity: .8;
	}

	.box:hover{
		opacity: 1;
	}

	.chosen-box{
		transform: scale(1.2);
		box-shadow: 0 0 3em white;
		opacity: 1;
	}

	img{
		width: 100%;
	}

	p{
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
	}

	.count {
		padding: 5px;
		float: right;
		color: red;
	}

	.length{
		padding: 5px;
		color: blue;
		float: left;
	}

	.srcURL{
		display: none;
	}
	.genre {
		display: none;
	}

	.description{
		display: none;
	}
}

